* {
	margin: 0px;
	padding: 0px;
}

.navigation {
	text-align: center;
}

h1, h2, p {
	text-align: center;
	}

p {
	color: white;
	background-color: grey;
	
}
 
h1{ color: navy	; 
	font-size: 35px
	
}

h2{ color: navy;
	font-size: 18px;
	}
	
	#RegisterButton{

	color: grey;
	font-family: courier;
	font-size: 30px;
    width:200px;
    margin: auto;
    border: 8px dotted grey;

	}


body {
background-color: rgb(123,177,220);
background-image: url(http://image.posta.com.mx/sites/default/files/tecnologicodemonterreyaniversario-1.jpg);
background-repeat:no-repeat;
   background-size:cover;
align-items: center;

.header {
  background-image: url(https://images.unsplash.com/photo-1455267847942-f4fdb784f0c5?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb);
  height: 400px;
  background-position: center center;
}
}

