* {
	margin: 0px;
	padding: 0px;
	font-family: courier;
}

h1, p {
	
}

.header {
	height: 300px;
	text-align: center;
	background-image: url("images/blueBackground3.jpg");
	background-repeat: no-repeat;
	/*background-size: 99%  362px;*/
	background-size: cover;
}

.profileImage {
	position: relative;
}

#profileID {
}

.stars {
	width: 150px;
	position: relative;
}

#starsID {
	
}

.names {
	width: 100px;
	margin-left: 190px;
	padding-top: 50px;

}

#desc {
	width: 1900px;
	text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}

.names, p {
	width: 250px;
	line-height: 180%;
	color: white;
}

.logoTec, .logoGit {
	margin-top: 0px;
}

.logoTec {
	margin-left: 190px;
}

.logoGit {
	margin-left: 190px;
}

.content {
	height: 1000px;
	width: 100%;
	position: absolute;
	/*background-color: purple;*/
	background-image: url("images/backgroundTec.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.points {
	width: 150px;
	height: 10px;
	color: white;
}

#topicsTitle {
	margin-top: 25px;
	font-size: 30px;
}

#list {
	margin-left: 110px;
	line-height: 180%;
	font-size: 20px;
}

.calendar {
	margin-top: 100px;
	margin-left: 150px;
	text-align: center;
}

#calendarTitle {
	font-size: 80px;
}

.dropdown {
    position: relative;
    display: inline-block;
    position: fixed;
}

.dropdown, span {
	font-size: 30px;
	font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content p{
	font-size: 25px;
	color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#upcoming {
	right: 0px;
}