* {
	margin: 0px;
	padding: 0px;
}

.header {
	height: 250px;
	text-align: center;
	text-transform: uppercase;
	background-color: green;
}

#profileImage {
	margin-top: 30px;
	background-color: red;
}

